/* universal selector */

* {
    padding: 0;
    margin: 0;
}

:root {
    --divsBG: rgb(255, 132, 0);
}

.el {
    background: var(--divsBG);
}

.body {
    /* background: red;  */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.NavBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.Footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.LeftPanel {
    grid-column: 1 / span 2;
    grid-row: 2 / span 10;
}

.RightPanel {
    grid-column: 11 / span 2;
    grid-row: 2 / span 10;
}

.Content {
    grid-column: 3 / span 8;
    grid-row: 2 / span 10;
}